.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  // grid-template-columns: repeat(2, 1fr); /* Display 2 cards in a row */
  gap: 1rem 1rem;
  margin-left: 50px; /* Left margin */
  margin-right: 50px; /* Right margin */
  margin-top: 20px; /* Top margin */
}

.experience-heading {
  font-size: 40px;
  font-weight: 800;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}
